:root {
  --bg-color: #1976d2;
}

body {
  background-color: rgba(230, 230, 230, 0.76) !important;
}

a {
  text-decoration: none !important;
  color: unset !important;
}

th {
  font-weight: 900 !important;
}

.pagination {
  margin-top: 20px !important;
}
