:root {
  --bg-color: #1976d2;
}

body {
  background-color: rgba(230, 230, 230, 0.76) !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: unset !important;
}

table{
  max-width: 100% !important;
  overflow-x: scroll;
}

th {
  font-weight: 900 !important;
}

.pagination {
  margin-top: 20px !important;
}


